.search{
    -webkit-appearance: none;
    border: none;
    outline: none;
    padding: 5px;
    width: 400px;
    line-height: 30px;
    margin-bottom: 30px;   
}

input[type=search] {
    width: 400px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 22px;
    background-color: white;
    background-image: url('https://img.icons8.com/search');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 20px 20px 20px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    text-align:center;
  }
  
  /* input[type=search]:focus {
    width: 100%;
  } */

  .wrapdiv{
    height: 8em;
    position: relative;
  }

  .searchdiv {
    margin: 0;
    position: absolute;
    top: 65%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }